<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aturnbtodofunc-hde6a6aceqajd4fy.uksouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/529b431b-68e0-4a63-8442-00656bcec54e/resourceGroups/TodoAppRG/providers/Microsoft.Web/sites/aturnbtodofunc</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://aturnbtodofunc-hde6a6aceqajd4fy.scm.uksouth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>